body {
    background-image: url(HomeBg.png);
    background-position: center;
    background-attachment: fixed;
    background-size: 1366px 768px;
}

/* Outer wrappers */
body > div > *{
    border: 10px double yellow;
    color: white;
}

/* Top and bottom components AND Middle inner-wrappers */
body > div > * > *{
    border: 6px solid red;
    color: white;
}

/* Middle components */
main > * > *{
    border: 2px solid green;
    color: white;
}

main > * > * > *{
    border: 2px solid blue;
    color: white;
}



.heading{
    font: Italic 77px/107px Trebuchet;
}

.subheading{
    font: Italic 40px/47px Trebuchet MS;
}
