/* For all pages */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
header{
  text-align:center;
  background-color:white;
  color:white;
  padding:5px;
}

footer{
  text-align: center;
  font-size:12px;
}

/* For SKT-index */


#icon{
  height: auto;
   max-width: 3em;
}

.container-1{
  display: flex;
  flex-flow: row wrap;
  justify-content: auto;
  align-items: auto;
  background-color: lightblue
}

.container-1 div{
  border:none;
  background-color: lightblue;
  padding:1em;
  text-align: center;
  }

  .box-0{
    flex:0 0 auto;
    order:0;
  }
  .box-1{
     flex:2 1 auto;
     order:1;
   }

   .box-2{
     flex:1 1 auto;
     order:2;
   }

   .box-3{
     flex:1 1 auto;
     order:3;
   }

   .box-4{
    flex:1 1 auto;
    order:4;
  }


   .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .dropdown-content ul li:hover {
    background-color: lightskyblue;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* For SKT-summaries */

.container-2{
display:flex;
flex-flow: column wrap;
}

ul {list-style-type: none;}

.calendar{

}

.month {
  padding: 50px 25px;
  width: 100%;
  background: darkgrey;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.days {
  padding: 20px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 9.2%;
  text-align: center;
  margin-bottom: 20px;
  font-size:12px;
  color: #7777;
}

li details p {
   width: auto;
   padding: 15px;
   text-align: justify;
   display: block;
   position: absolute;
   background-color: grey;
   color: white;
}

/* For SKT-summaries */

  #character-Table table {
  border-collapse: collapse;
  }

  table, th, td {
  border: 1px solid black;
  height: 50px;
  padding: 2em;
  }

   td {
     text-align: center;
   }

/* For SKT-characters */

.alignment{

}
